/* Основной цвет фона F5F5F5 */
/* Вторичный цвет фона 2F303A */
/* Основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* доп.цвета лого,хедер голубой:2196F3, черный:000000 */
/* цвет кнопок 2196F3 */
/* цвет кнопок портфолио неакт F5F4FA */

:root {
    --primary-bkgcolor: #F5F5F5;
    --secondary-bkgcolor: #2F303A;
    --primary-color: #212121;
    --secondary-color: #757575;
    --button-color-active: #2196F3;
    --button-color: #F5F4FA;
    --link-active: #2196F3;
}

body {
    background-color: var(--primary-bkgcolor);
    color: var(--primary-color);
    font-family: roboto, sans-serif;
}

.hero .footer {
    background-color: var(--secondary-bkgcolor);
}

.logo {
font-weight: 700;
font-size: 26px;
line-height: 31px;
}

.list-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: #212121;
}

li {
    list-style: none;
}

.logo {
    color: var(--link-active);
    font-family: raleway, sans-serif;
}

.accent {
    color: #FFFFFF
    ;
}

.site-logo {
    color: #000000;
}

.link:hover {
    color: var(--link-active);
}

.link:focus {
    color: var(--link-active);
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    font-family: inherit;
}


