/* Основной цвет фона F5F5F5 */
/* Вторичный цвет фона 2F303A */
/* Основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* доп.цвета лого,хедер голубой:2196F3, черный:000000 */
/* цвет кнопок 2196F3 */
/* цвет кнопок портфолио неакт F5F4FA */

:root {
    /* Fonts */

    --main-font: roboto, sans-serif;
    --logo-font: raleway, sans-serif;

    /* Text colors */

    --primary-color: #212121;
    --secondary-color: #757575;
    --hero-color: #FFFFFF;

    /* Background colors */

    --primary-bkgcolor: #F5F5F5;
    --secondary-bkgcolor: #2F303A;
    --body-bgk: #F5F5F5

    /* Others */

    --button-color-active: #2196F3;
    --button-color: #F5F4FA;
    --link-active: #2196F3;
}

.page {
background-color: var(--body-bgk);
color: #212121;
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.list-item {
list-style:none
}

.logo {
color: var(--link-active);
font-family: var(--logo-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}

.site-logo {
color: #000000;
}

.list-nav {
color: var(--primary-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link {
text-decoration: none;
}

.active {
color: var(--link-active);
}
    
.hero {
background-color: var(--secondary-bkgcolor);
color: var(--hero-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.btn {
background-color: #2196F3;
color: var(--hero-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88px;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
}

.subtitle {
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.desc {
font-weight: 400;
line-height: 24px;
color: #757575;
}
    
    

