/* Основной цвет фона F5F5F5 */
/* Вторичный цвет фона 2F303A */
/* Основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* доп.цвета лого,хедер голубой:2196F3, черный:000000 */
/* цвет кнопок 2196F3 */
/* цвет кнопок портфолио неакт F5F4FA */

body {
    background-color: #F5F5F5;
    color: #212121;
}

li {
    list-style: none;
}

.logo {
    color: #2196F3;
}

.site-logo {
    color: #000000;
}

.link:hover {
    color: #2196F3;
}

.link:focus {
    color: #2196F3;
}
